In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("Your name is", name, "." ,"Your age is", age)

What is your name? Hulisi
What is your age? 43
Your name is Hulisi. Your age is 43

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if (a==b):
  print("a is equal to b ")
else:
  print("a is not equal to b")

a is not equal to b

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=11
b=99
if (a>b):
  print("a is greater than second number")
elif (a<=b):
  print("a is equal or less than second number")

a is equal or less than second number

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
n=5
while n>0:
  print(n)
  n=n-1

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range(10, 0, -2):
  if k != 8:
    print(k)

10
6
4
2

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def agecalculation(a):
  return 2024-a
birthdate=int(input("Enter your date of birth: "))
agecalculation(birthdate)
print("Your age is:", agecalculation(birthdate))

Enter your date of birth: 1944
Your age is: 80

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y

  def subtraction(x,y):
    return x-y

  def multiplication(x,y):
    return(x*y)

  def division(x,y):
    return x/y

print(arithmetic.addition(5,2))
print(arithmetic.subtraction(5,2))
print(arithmetic.multiplication(5,2))
print(arithmetic.division(5,2))

7
3
10
2.5

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
n=3
tsum=0
for i in range(1, n+1):
  tsum= tsum + i
print(tsum)

6

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.
import numpy as np
l=[]
for m in range (0,10):
  l.append(float(np.random.rand()))
print(l[0])
print(l[1])
print(l[2])

0.34643685540626956
0.5499947629331028
0.9881284399757551

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n = 15
for i in range(1, n + 1):
  if i % 3 == 0:
    print(i)

3
6
9
12
15